{{#each post as |value|}}
  <div style="width: 300px;">
    {{#paper-card as |card|}}
      {{card.image src=value.img alt=value.title title=value.title}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{value.title}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          {{value.text}}
        </p>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button iconButton=true}}
          {{paper-icon value.iconButtonList.favorite}}
        {{/paper-button}}
        {{#paper-button iconButton=true}}
          {{paper-icon value.iconButtonList.settings}}
        {{/paper-button}}
        {{#paper-button iconButton=true}}
          {{paper-icon value.iconButtonList.share}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
{{/each}}