{{#paper-card class=mdWhiteframe_10dp as |card|}}
  <a class="postCardStyle" href="javascript:void(0);" onClick={{action articleClick value.id}}>
    {{card.image  src=value.img alt=value.title title=value.title}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{value.title}}{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content class="postCardContentStyle"}}
      {{value.text}}
    {{/card.content}}
  </a>
  {{#card.actions}}
  {{!--    TODO making api call to add like--}}
    {{#paper-button iconButton=true onClick=(action (mut oneTimeIcon) "favorite") }}
      {{paper-icon oneTimeIcon}}
    {{/paper-button}}
    {{#paper-button iconButton=true}}
      {{paper-icon value.iconButtonList.share}}
      {{article-share-menu url=value.url quote=value.title text=value.text imageUrl=value.img}}
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
