<div class="flex-container demo-items">
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
   <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
  <div class="loadingStyle">
    {{#content-placeholders className="" as |placeholder|}}
      {{placeholder.heading img=true}}{{placeholder.text lines=13}}
    {{/content-placeholders}}
  </div>
</div>