{{!--{{outlet 'topNav'}}--}}
{{nav onRoute=(action "onRoute")}}
{{sidebar-left category=category}}
{{sidebar-right fakeIndex="default is oooo"}}
{{!--{{outlet 'onlyApp'}}--}}
<div class="application_container layout-row layout-align-center">
  {{outlet}}
  <div class="fakeHeight"></div>
</div>