{{!--{{outlet 'topNav'}}--}}
{{nav onRoute=(action "onRoute")}}
{{sidebar-left category=category}}

{{!--{{outlet 'onlyApp'}}--}}
<div class="application_container layout-row layout-align-center">
  {{outlet}}
</div>