{{!--{{outlet 'topNav'}}--}}
{{nav}}
{{sidebar-left category=category}}
{{sidebar-right}}
{{!--{{outlet 'onlyApp'}}--}}
<div class="application_container layout-row layout-align-center">
  {{outlet}}
  <div class="fakeHeight"></div>
</div>