<div class="postContentStyle">
  <img src={{model.img}} alt={{model.title}} draggable="false">
  <h3>
    {{model.title}}
  </h3>
  {{markdown-to-html model.text}}
{{!--  TODO create a side components - markdown-nav or something like that to render all the markdown index link to the id. when user click on the link, it can reposition to the article location.--}}
  {{!-- {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{model.title}}{{/text.headline}}
        {{#text.subhead}}{{model.subhead}}{{/text.subhead}}
      {{/title.text}}
      {{title.media size="lg" src=model.img alt=model.title title=model.title}}
    {{/card.title}}
    {{#card.content}}{{model.text}}{{/card.content}}
  {{/paper-card}} --}}
</div>