<div class="application_container">
  <div class="layout-row layout-align-center">
    <h3>
      tech
    </h3>
  </div>
  <div class="layout-row layout-align-center">
    {{#paper-select
      options=sizes
      label="Size"
      required=true
      selected=formSize
      onChange=(action (mut formSize)) as |size|
    }}
      {{size}}
    {{/paper-select}}
  </div>
  {{#if formSize}}
    <div class="layout-row layout-align-center">
      CURRENT NUM:
      {{formSize}}
    </div>
  {{/if}}
  {{#each formLists as |value key|}}
    <div class="layout-row layout-align-center">
      <br />key === {{key}}
      <br />value address === {{value.address}}
      {{paper-input
        label=value.name
        value=value.address
        onChange=(action (mut value.address))
        required=true
      }}
    </div>
  {{/each}}
  <div class="layout-row layout-align-center">
    {{#paper-button onClick=(action "flatButton")}}
      Button with action
    {{/paper-button}}
  </div>
</div>